<aside aria-labelledby="blm" class="tdbc-mx-auto tdbc-px tdbc-text-align-center">
  <h2 id="blm" class="tdbc-ink--secondary tdbc-mt-md">Black Lives Matter</h2>
  <ul class="tdbc-list-unstyled tdbc-row">
    <li>
      <a
        href="https://docs.google.com/document/d/1BRlF2_zhNe86SGgHa6-VlBO-QgirITwCTugSfKie5Fs/edit"
        class="tdbc-button tdbc-button-outlined"
        >Resources for White People</a
      >
    </li>
    <li>
      <a href="https://justiceforbreonna.org/" class="tdbc-button tdbc-button-outlined"
        >Justice for Breonna Taylor</a
      >
    </li>
  </ul>
</aside>
