---
description: 'A series examining modern CSS solutions to problems Stephanie Eckles, a seasoned frontend developer, has been solving for 13+ years.'
layout: base.njk
---
  <header class="tdbc-hero tdbc-hero--home tdbc-text-align-left">
      <div class="tdbc-container">
        <h1 class="tdbc-ink--primary tdbc-mb-none"><span class="tdbc-logo-m">M</span>odern CSS Solutions
          <em class="tdbc-h3 tdbc-ink--secondary">for Old CSS Problems</em>
        </h1>
        
        <h2 class="tdbc-lead tdbc-ink--gray tdbc-mt-md">
          <span>A series by <a href="https://dev.to/5t3ph">Stephanie Eckles</a></span>
        </h2>
      </div>
    </header>
    <main class="tdbc-series-container">
      <ul class="tdbc-column-container">
      {%- for post in collections.posts -%}
        <li class="tdbc-card index{{ loop.index0 + 1 }}">
          <div class="tdbc-card__content" data-episode="{{ post.data.post.episode }}">
            <a href="{{ post.url }}" class="tdbc-card__title">{{ post.data.post.title }}</a>
            <p>{{ post.data.post.description }}</p>
          </div>
        </li>
      {%- endfor -%}
      </ul> 
    </main>

{% set js %}
  {% include "peekaboo.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>
    