---
layout: base.njk
---
  <div class="tdbc-nav">
    <a href="/" class="tdbc-logo-m">M</a>
  </div>
  <header class="tdbc-hero tdbc-text-align-center">
      <div class="tdbc-container tdbc-content-maxlength">
        <h1 class="tdbc-ink--primary tdbc-mb-none tdbc-mlg">{{ post.title }}</h1>
        <p class="tdbc-lead tdbc-ink--gray tdbc-mt-md"><span>Originally posted {{ post.date | postDate }} on <a href="{{ post.url }}">DEV</a></span></p>
      </div>
    </header>
    <main class="tdbc-container tdbc-postpage" data-episode="{{ post.episode }}">
      <article class="tdbc-mx-auto">{{ content | safe }}</article>
      <div class="tdbc-row">
      
      <a href="https://twitter.com/intent/tweet?original_referer={{ page.url | url | absoluteUrl(site.url) }}&text={{ post.title | encodeTweet }}&tw_p=tweetbutton&url={{ page.url | url | absoluteUrl(site.url) }}" class="tdbc-button tdbc-button-outlined tdbc-button--small">Tweet this article</a>
      </div>
    </main>
    <aside aria-labelledby="next" class="tdbc-series-container tdbc-series-container--postpage tdbc-text-align-center tdbc-gradient-border">
    <h2 id="next" class="tdbc-ink--secondary">What to Read Next</h2>
    <a href="/" class="tdbc-button">Browse the whole series</a>
    <ul class="tdbc-column-container tdbc-column-container--postpage tdbc-mt-lg">
      {%- for post in collections.posts | randomLimit(4, page.url) -%}
        <li class="tdbc-card">
          <div class="tdbc-card__content" data-episode="{{ post.data.post.episode }}">
          <a href="{{ post.url }}" class="tdbc-card__title {% peekaboo loop.index0 %}">{{ post.data.post.title }}</a>
            <p>{{ post.data.post.description }}</p>
          </div>
        </li>
      {%- endfor -%}
      </ul> 
    </aside>