.tdbc-button {
  display: inline-flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  min-width: 10rem;
  min-height: 4rem;
  padding: 0.1em 1.5em 0;
  transition: 180ms all ease-in-out;
  border-radius: 1em;
  background-color: tdbc-color(primary);
  color: tdbc-color(background);
  font-size: 1.3rem;
  font-weight: $tdbc-strong-font-weight;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fff;
  }

  &--small {
    min-height: 34px;
    padding: 0.3em 0.75em 0.25em;
    font-size: 1.125rem;
  }

  @each $key in $tdbc-button-variants {
    $color: tdbc-color($key);

    @if ($key != "primary") {
      &--#{$key} {
        background-color: $color;

        @if ($key == "light") {
          color: tdbc-color(dark);
        }

        &:focus {
          box-shadow: 0 0 0 3px scale-color($color, $lightness: -30%);
        }
      }
    }
  }
}

.tdbc-icon-button {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;

  // stylelint-disable-next-line selector-max-type
  svg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    opacity: 0.7;
  }

  &:focus,
  &:hover {
    outline: none;

    // stylelint-disable-next-line selector-max-type
    svg {
      opacity: 1;
    }
  }

  &:focus {
    &::after {
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      bottom: -0.3em;
      left: -0.3em;
      border: 1px solid currentColor;
      border-radius: 50%;
      content: "";
    }
  }
}
