/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in _color-tokens.js
 */

$color-primary: #ab79d6 !default;
$color-on-primary: #351D4A !default;
$color-secondary: #d367c1 !default;
$color-on-secondary: #47143F !default;
$color-background: #27272c !default;
$color-on-background: #c5c5ce !default;
$color-background-alt: #1e1c22 !default;
$color-on-background-alt: #85838A !default;
$color-inverse: #fff !default;
$color-gray: #8e8e8e !default;
$color-yellow: #dedf40 !default;
$color-green: #62cb5c !default;
$color-blue: #00bbcb !default;

$base-color-tokens: ("primary", "secondary", "background", "background-alt", "inverse", "gray", "yellow", "green", "blue");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-background": $color-background,
  "color-on-background": $color-on-background,
  "color-background-alt": $color-background-alt,
  "color-on-background-alt": $color-on-background-alt,
  "color-inverse": $color-inverse,
  "color-gray": $color-gray,
  "color-yellow": $color-yellow,
  "color-green": $color-green,
  "color-blue": $color-blue
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-background: #{$color-background};
  --color-on-background: #{$color-on-background};
  --color-background-alt: #{$color-background-alt};
  --color-on-background-alt: #{$color-on-background-alt};
  --color-inverse: #{$color-inverse};
  --color-gray: #{$color-gray};
  --color-yellow: #{$color-yellow};
  --color-green: #{$color-green};
  --color-blue: #{$color-blue};
}