// stylelint-disable-next-line selector-max-type
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: tdbc-color(background);
  color: $tdbc-color-body;
  font-family: $tdbc-font-family;

  // stylelint-disable-next-line selector-max-type
  &::before {
    height: 0.5rem;
    background: $tdbc-gradient;
    content: "";
  }
}

// stylelint-disable selector-max-type, selector-no-qualifying-type
main,
main.tdbc-container {
  padding-top: 0;
  padding-bottom: 5vh;
}

footer {
  margin-top: auto;
}

article {
  max-width: 80ch;
}
// stylelint-enable

.tdbc-container {
  display: flex;
  flex-direction: column;
  max-width: 120ch;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.tdbc-column-container {
  display: grid;
  justify-items: center;
  padding-left: 0;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));

  @media (min-width: 700px) and (max-width: 1446px) {
    &--postpage {
      .tdbc-card:last-child {
        grid-column-start: 2;
      }
    }
  }
}

.tdbc-hero {
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}

.tdbc-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  // stylelint-disable-next-line selector-max-universal
  > * {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.tdbc-series-container {
  margin-right: 8vw;
  margin-bottom: 10vh;
  margin-left: 8vw;

  &--postpage {
    position: relative;
    padding-top: 4rem;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 3px;
      background: $tdbc-gradient;
      content: "";
    }
  }
}

// stylelint-disable-next-line
hr {
  max-width: 10rem;
  height: 1px;
  margin: 3rem auto;
  border: none;
  background: $tdbc-gradient;
}

// stylelint-disable-next-line
.cp_embed_wrapper {
  height: 50vh;
  margin: 2rem 0;

  // stylelint-disable-next-line
  iframe {
    height: 100%;
  }
}
