.tdbc-nav {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: minmax(min-content, max-content) 8rem minmax(min-content, max-content);
  line-height: 1.2;
  text-align: center;

  .tdbc-logo-m {
    color: tdbc-color("background-alt");
    font-size: 3rem;
    line-height: 1;
    text-decoration: none;

    &::before {
      top: -50%;
      padding: 140%;
      animation: gradient 15s linear infinite;
      animation-direction: alternate;
      transform: rotate(45deg) translateX(-45%);
      border: 2px solid tdbc-color("background-alt");
      background: $tdbc-gradient;
      background-size: 1000% 100%;
    }

    &:focus {
      outline: none;

      &::before {
        box-shadow: 0 0 0 4px tdbc-color("secondary");
      }
    }
  }

  // stylelint-disable selector-max-type
  a:not([class]) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  // stylelint enable
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
