// stylelint-disable selector-max-type
details {
  margin-top: 2rem;
}

summary,
details pre[class*="language-"],
.tdbc-demo {
  border: 1px solid tdbc-color("text");
}

summary {
  position: relative;
  padding: 0.5em;
  // font-size: $tdbc-lead-font-size;
  font-size: 1.15rem;
  cursor: pointer;
  background-color: tdbc-color("text");
  color: tdbc-color("background");

  &:focus {
    outline: 2px solid transparent;
    box-shadow: inset 0 0 0 2px tdbc-color("background"), 0 0 0 2px tdbc-color("text");
    border-radius: 0.15em;
  }
}

details pre[class*="language-"] {
  margin: 0;
  border-radius: 0;
  border-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tdbc-demo {
  contain: content;
  margin-bottom: 2rem;

  @media (max-width: 928px) {
    max-width: calc(100vw - 2rem);
  }

  .tdbc-demo--content {
    background-color: tdbc-color("light");
  }

  .tdbc-demo--place-center {
    display: grid;
    place-content: center;
    min-height: 20vh;
  }

  * {
    max-height: unset;
    margin: 0;
    padding: unset;
    border: unset;
    border-radius: unset;
    background-color: unset;
    color: unset;
    font-family: system-ui, sans-serif;
    font-size: unset;
    line-height: 1.5;
    text-decoration-color: unset;
    text-decoration-thickness: unset;
  }
}

// Seeking a pointer because @supports for `resize`
// returns false positive on iOS
@media (any-hover: hover) and (any-pointer: fine) {
  .tdbc-demo:not(.no-resize) {
    position: relative;
    resize: horizontal;
    overflow: auto;
    padding: 1.75rem 0;

    &::before,
    &::after {
      position: absolute;
      font-size: 1rem;
      line-height: 0;
      letter-spacing: 0.03em;
      color: tdbc-color("light");
    }

    &::after {
      content: "Resize me!";
      right: 0.85rem;
      bottom: 0.75rem;
    }

    &::before {
      content: attr(style);
      top: 0.85rem;
      left: 0.85rem;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  .tdbc-demo {
    resize: none;

    &::after {
      content: "";
    }
  }
}

del.highlight-line-remove {
  opacity: 0.8;
}

ins.highlight-line-add {
  background-color: #10441e;
  border-left: 4px solid #24c350;
  padding: 0.08em 0.25em 0.2em 0;
  color: #fff;
  text-decoration: none;
}
