$tdbc-color-primary: #ab79d6 !default;
$tdbc-color-secondary: #d367c1 !default;
$tdbc-color-background: #27272c;
$tdbc-color-background-alt: scale-color($tdbc-color-background, $lightness: -15%);

$tdbc-brand-colors: (
  "primary": $tdbc-color-primary,
  "secondary": $tdbc-color-secondary,
) !default;

$tdbc-extended-colors: map-merge(
  $tdbc-brand-colors,
  (
    "yellow": #dedf40,
    "green": #62cb5c,
    "blue": #00bbcb,
  )
);

$tdbc-color-body: scale-color($tdbc-color-primary, $lightness: 20%, $saturation: -70%) !default;
$tdbc-color-gray: mix(#f9f9f9, $tdbc-color-body, 70%) !default;

$tdbc-colors: map-merge(
  $tdbc-extended-colors,
  (
    "text": $tdbc-color-body,
    "background": $tdbc-color-background,
    "background-alt": $tdbc-color-background-alt,
    "light": #fff,
    "dark": rgba(black, 0.87),
    "gray": $tdbc-color-gray,
  )
);

@function tdbc-color($key) {
  @return map-get($tdbc-colors, $key);
}

$tdbc-gradient: linear-gradient(
  var(--tdbc-gradient-angle),
  tdbc-color("secondary") 10%,
  tdbc-color("yellow") 25%,
  tdbc-color("green") 50%,
  tdbc-color("blue") 75%,
  tdbc-color("primary") 90%
);

// Add/remove to selectively generate `ink` (text color) classes
$tdbc-ink-colors: "primary", "secondary", "gray", "light" !default;

// Add/remove to selectively generate `background` (text color) classes
$tdbc-background-colors: "secondary" !default;

$tdbc-button-variants: "primary", "light" !default;
$tdbc-border-radius: 4px !default;

// stylelint-disable value-keyword-case
$tdbc-headline-font-family: Kanit, "Arial Bold", Arial, sans-serif;
$tdbc-font-family: "Baloo 2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
$tdbc-strong-font-weight: 500 !default;
$tdbc-h1-font-size: 4.2rem !default;
$tdbc-h2-font-size: 3.15rem !default;
$tdbc-h3-font-size: 2rem !default;
$tdbc-h4-font-size: 1.35rem !default;
$tdbc-lead-font-size: 1.35rem !default;

$tdbc-spacing: (
  "md": 3rem,
  "lg": 6rem,
  "auto": "auto",
) !default;
