.tdbc-content-maxlength {
  max-width: 60em;
}

.tdbc-gradient-border {
  position: relative;
  padding-top: 4rem;
  border-width: 0;
  border-top-width: 3px;
  border-style: solid;
  border-image: $tdbc-gradient 1;
}

.tdbc-list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;

  // stylelint-disable-next-line selector-max-type
  li {
    margin: 0.5rem;
  }
}

$tdbc-alignments: left, center, right !default;

@each $alignment in $tdbc-alignments {
  .tdbc-text-align-#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

@each $key in $tdbc-background-colors {
  .tdbc-background--#{$key} {
    background-color: tdbc-color($key);
  }
}

@each $key in $tdbc-ink-colors {
  .tdbc-ink--#{$key},
  a.tdbc-ink--#{$key} {
    color: tdbc-color($key);
  }

  .tdbc-ink--#{$key} a:not(.tdbc-button) {
    color: inherit;
  }
}

.tdbc-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.tdbc-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.tdbc-px {
  padding-right: 1rem;
  padding-left: 1rem;
}

.tdbc-py-none {
  padding-top: none;
  padding-bottom: none;
}

@each $key, $unit in $tdbc-spacing {
  .tdbc-mt-#{$key} {
    margin-top: #{$unit};
  }
}

$tdbc-spacing-sides: b;

@each $side in $tdbc-spacing-sides {
  .tdbc-m#{$side}-none {
    margin: 0;
  }
}
