# dependencies installed by npm
node_modules

# build artefacts
public
social
!src/img/social
functions/*.json
functions/*.html
.vscode

# secrets and errors
.env
.log

# macOS related files
.DS_Store


# Local Netlify folder
.netlify