---
pagination:
  data: devposts
  size: 1
  alias: post 
  addAllPagesToCollections: true
permalink: "/{{ post.title | slug }}/"
eleventyComputed:
  topics: {{ post.topics }}
tags: posts 
layout: post
templateEngineOverride: md, njk 
---

{{ post.body | safe }}