---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Modern CSS Solutions for Old CSS Problems</title>
	<subtitle>A series examining modern CSS solutions to problems Stephanie Eckles, a seasoned frontend developer, has been solving for 13+ years.</subtitle>
	{% set absoluteUrl %}{{ '/feed/' | url | absoluteUrl(site.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ site.url }}"/>
	<updated>{{ collections.sortByDate | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.url }}</id>
	<author>
		<name>Stephanie Eckles</name>
	</author>
	{%- for post in collections.sortByDate %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title  }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.data.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>