---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---

/* HUMAN */
Author/Developer: Stephanie Eckles
Site: https://thinkdobecreate.com
Location: Lincoln, Nebraska
Twitter: @5t3ph
Github: @5t3ph
CodePen: @5t3ph
DEV: @5t3ph

/* SITE */
Last update: {{ collections.sortByDate | getNewestCollectionItemDate | dateToRfc3339 | htmlDateString }}
Language: English
Components: HTML5, Sass
IDE: VSCode
Tools: Eleventy (11ty), Netlify