---
permalink: functions/pages.json
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[{% for pages in collections.pages %}
	{
   "title":"{{ pages.data.title | jsonTitle}}",
   "slug":"{{ pages.data.title | slug}}"
	}{% if loop.last == false %},{% endif %}
{% endfor %}] 