---
permalink: functions/posts.json
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[{% for post in collections.posts %}
   {
      "title":"{{post.data.title | jsonTitle | safe}}",
      "slug":"{{post.data.title | slug}}",
      "episode":"{{ post.data.episode }}"
   }{% if loop.last == false %},{% endif -%}
{% endfor %}]