---
permalink: functions/template.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
<!doctype html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Kanit:ital,wght@0,800;1,600&display=swap" rel="stylesheet">
    {% set css %}
      {% include "public/css/style.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | safe }}
      header.tdbc-hero h1 {
        padding-left: 6vw;
        padding-right: 6vw;
        font-size: 2.25rem;
      }
      .tdbc-nav {
        grid-template-columns: 1fr;
      }
      header .tdbc-container {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 6rem);
      }
      .tdbc-hero .tdbc-lead {
        margin-top: auto;
        margin-bottom: 0;
      }
    </style>
</head>
<body>
    <div class="tdbc-nav">
    <a href="/" class="tdbc-logo-m">M</a>
  </div>
  <header class="tdbc-hero tdbc-text-align-center">
      <div class="tdbc-container tdbc-content-maxlength">
        <h1 class="tdbc-ink--primary tdbc-mb-none tdbc-mlg"></h1>
        <p class="tdbc-lead tdbc-ink--gray tdbc-mt-md"><span>ModernCSS.dev | <span class="meta"></span></span></p>
      </div>
    </header>
</body>