{%- macro icon(name, width = '24', height = '24') -%}
    <svg aria-hidden="true" focusable="false" width="{{ width }}" height="{{ height }}" fill="currentColor" class="icon"><use href="#icon-{{ name }}"></use></svg>
{%- endmacro -%}