---
layout: layouts/base
---

<div class="post-wrapper">
  <aside aria-label="Table of Contents">
    <img src="/img/avatars/steph.jpg" alt="" width="100" height="100">
    <p>This is <strong>episode #{{ episode }}</strong> in a series examining modern CSS solutions to problems Stephanie Eckles has been solving over the last 14+ years as a front-end dev.</p>

    {% if not hideToc %}
    <details id="toc" open>
      <summary>Table of Contents</summary>
      {{ content | toc | safe }}
    </details>
    <script>
      const toc = document.getElementById('toc');
      const windowWidth = window.innerWidth;
      if (windowWidth < 1200) {
        toc.removeAttribute('open');
      } else {
        toc.setAttribute('open', true);
      }
    </script>
    {% endif %}
  </aside>
  <main class="postpage" data-episode="{{ episode }}">
    <article class="mx-auto">
      <span class="halfway"></span>
      {{ content | safe }}
    </article>
    
    {% include "partials/tweetthis.njk" %}
  </main>
</div>

{% include "partials/nextlist.njk" %}