---
title: Modern CSS Solutions
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.siteName }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap" rel="stylesheet">
  <style>
    {% raw %}{{ style }}{% raw %}
  </style>
</head>
<body>
  {% include "partials/header.njk" %}
</body>
</html>