---
title: "Office Hours on Twitch"
description: "Bring me your layout issues and questions, I'll help you learn both CSS and how to get there with semantic HTML."
templateEngineOverride: njk, md
date: 2021-09-16
landingPage: true
---

<p class="lead">Bring me your layout issues and questions, I'll help you learn both CSS and how to get there with semantic HTML.</p>

<a href="https://twitch.tv/5t3phDev" class="button">Join on Twitch</a>

## Upcoming Office Hours

<button id="convert-time" class="button button-outlined button-outlined--inherit button--small">Convert to local time</button>

{% if collections.upcomingOfficeHours.length %}
<ul class="office-hours">
{% for event in collections.upcomingOfficeHours %}
<li><time datetime="{{ event.datetime }}">{{ event.dateDisplay }}</time></li>
{% endfor %}
</ul>
{% else %}
<p><em>No upcoming times scheduled - stay tuned!</em></p>
{% endif %}

## Submit a Topic

Not able to attend live? Submit your question or topic request and it may be covered if time allows.

<form name="office-hours" action="/thanks" class="form" method="POST" netlify-honeypot="bot-field" data-netlify="true">
	<p hidden>
		<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
	</p>
  <div class="form-group">
    <label for="name">First Name / Twitch username</label>
    <input type="text" id="name" name="name" class="form-field">
  </div>
  <div class="form-group">
    <label for="email">Details of your question or request</label>
    <textarea required id="request" name="request" class="form-field" rows="5"></textarea>
  </div>
  <button class="button" type="submit">Send</button>
</form>

<script>
  function convertTime() {
    const timeNodes = document.querySelectorAll('time')
    timeNodes.forEach(node => {
      const date = new Date(node.dateTime)
      const newLocaleString = date.toLocaleString([],{timeStyle:"long", dateStyle: "medium"})
      node.innerHTML = newLocaleString;
    })
  }
  document.querySelector('#convert-time').addEventListener('click', convertTime)
</script>