html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  border-width: 0;
  border-top-width: 0.5rem;
  border-style: solid;
  border-image: linear-gradient(to right, var(--gradient)) 1;
  background-color: var(--color-background);
  color: var(--color-on-background);
}

article {
  max-width: 80ch;
}

.postpage {
  position: relative;

  &::before {
    content: attr(data-episode);
    z-index: -1;
    position: absolute;
    top: 0;
    left: calc(50% - 20vw);
    width: 1ch;
    transform: translateX(-60%);
    color: var(--color-background-alt);
    font-family: var(--brand-font);
    font-size: 30rem;
    font-weight: var(--brand-font-weight);
    line-height: 0.5;
  }
}

.landing-page {
  h2 {
    max-width: 20ch;
  }

  > footer {
    margin-top: auto;
  }
}

.cp_embed_wrapper {
  height: 60vh;
  margin: 2rem 0;

  iframe {
    height: 100%;
  }
}

.halfway {
  position: absolute;
  top: 50%;
  width: 1px;
  height: 1px;
  pointer-events: none;
}
