// stylelint-disable selector-max-type, selector-no-qualifying-type
body {
  --gradient-angle: to right;

  display: flex;
  flex-direction: column;
  border-width: 0;
  border-top-width: 0.5rem;
  border-style: solid;
  background-color: color("background");
  color: $color-body;
  border-image: $gradient 1;
}

main {
  --gradient-angle: 30deg;
}

main,
main.container {
  padding-top: 0;
  padding-bottom: 5vh;
}

footer {
  margin-top: 4rem;

  &.background--secondary {
    background-color: scale-color(
      color("secondary"),
      $lightness: -18%,
      $saturation: -10%
    );
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  p {
    line-height: 1.1;
  }

  p,
  p + span {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (max-width: 445px) {
    .button {
      margin-top: 1rem;
    }
  }
}

article {
  max-width: 80ch;
}

[id] {
  scroll-margin-top: 2em;
}
// stylelint-enable

.postpage {
  position: relative;

  &::before {
    content: attr(data-episode);
    z-index: -1;
    position: absolute;
    top: 0;
    left: calc(50% - 20vw);
    width: 1ch;
    transform: translateX(-60%);
    color: color("background-alt");
    font-family: $headline-font-family;
    font-size: 30rem;
    line-height: 0.5;
  }
}

// stylelint-disable-next-line no-descending-specificity
.container {
  display: flex;
  flex-direction: column;
  max-width: 120ch;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  padding-left: 0;
  list-style: none;
  grid-gap: 2em;

  @media (min-width: 700px) and (max-width: 1446px) {
    &--postpage {
      .card:last-child {
        grid-column-start: 2;
      }
    }
  }

  &--gap-lg {
    grid-gap: 4rem;
  }
}

.hero {
  display: grid;
  place-items: center;
  min-height: 40vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;

  .landing-page & {
    min-height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  // stylelint-disable-next-line selector-max-universal
  > * {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.series-container {
  margin-right: 8vw;
  margin-bottom: 10vh;
  margin-left: 8vw;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

// stylelint-disable-next-line
hr {
  max-width: 10rem;
  height: 1px;
  margin: 3rem auto;
  border: none;
  background: $gradient;
}

// stylelint-disable-next-line
.cp_embed_wrapper {
  height: 60vh;
  margin: 2rem 0;

  // stylelint-disable-next-line
  iframe {
    height: 100%;
  }
}

// stylelint-disable-next-line
.halfway {
  position: absolute;
  top: 50%;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

// stylelint-disable selector-max-type
.landing-page {
  h2 {
    max-width: 20ch;
  }

  > footer {
    margin-top: auto;
  }
}
