{% include "partials/nav.njk" %}
{%- set dateLabel %}{{ "Updated on" if updatedOn else "Posted on" }}{% endset -%}
{%- set dateValue %}{{ updatedOn | postDate if updatedOn else page.date | postDate }}{% endset -%}

<header class="hero">
  <div class="container">
    <h1 class="color-primary">{{ title }}</h1>
    {% if not landingPage %}
    <p class="lead">
    {%- if layout == 'layouts/post' %}<span><span>{{ dateLabel }}</em>: {{ dateValue }}</span>{% endif -%}
    <small class="row">
      Written by Stephanie Eckles <a href="https://twitter.com/5t3ph/" class="icon-button" aria-label="Twitter">
      {% icon "twitter" %}
    </a>
    </small></span></p>
    {% endif %}
  </div>
</header>