<nav class="nav">
  <a href="/">All Tutorials</a>
  <a href="/" class="logo-m">M</a>
  <a href="/topics/">Topics List</a>
</nav>

<aside class="mx-auto text-align-center mbs-medium">
  <p><strong class="pill">New</strong> &mdash; Guided practice is coming soon on <a href="https://challenges.moderncss.dev" translate="no">Modern&nbsp;CSS&nbsp;Challenges</a></p>
</aside>