<div class="row">
  <a href="https://twitter.com/intent/tweet?original_referer={{ page.url | url | absoluteUrl(meta.url) }}&text={{ title | encodeTweet }}&tw_p=tweetbutton&url={{ page.url | url | absoluteUrl(meta.url) }}" class="button button-outlined button--small">Tweet this article</a>
</div>